# Deployer account
PRIVATE_KEY=0x...

# Deployer RPC URL
RPC_URL_1=
RPC_URL_560048=
RPC_URL_11155111=
# lido-local-devnet
RPC_URL_32382=http://hr6vb82d1ndsx-execution.glamsterdam-kurtosis-7.valset-02.testnet.fi

# Address of the already deployed VaultHub contract
LIDO_LOCATOR_ADDRESS_1=
# Example for hoodi-vaults-testnet2
LIDO_LOCATOR_ADDRESS_560048=0xD7c1B80fA86965B48cCA3aDcCB08E1DAEa291980
# Example for lido-local-devnet
LIDO_LOCATOR_ADDRESS_32382=0x2694cfcc47aAbC5C042dea104b6ac37e9924a4B1

WSTETH_ADDRESS_1=0x7f39c581f595b53c5cb19bd0b3f8da6c935e2ca0
# Example for hoodi
WSTETH_ADDRESS_560048=0x7E99eE3C66636DE415D2d7C880938F2f40f94De4
# Example for sepolia
WSTETH_ADDRESS_11155111=0xB82381A3fBD3FaFA77B3a7bE693342618240067b
# Example for lido-local-devnet
WSTETH_ADDRESS_32382=0x7E2E7DD2Aead92e2e6d05707F21D4C36004f8A2B

ETHERSCAN_API_KEY=
