# Deployer account
PRIVATE_KEY=0x...

# Deployer RPC URL
RPC_URL_1=
RPC_URL_560048=
RPC_URL_11155111=

# Address of the already deployed VaultHub contract
LIDO_LOCATOR_ADDRESS_1=
# Example for hoodi-vaults-testnet2
LIDO_LOCATOR_ADDRESS_560048=0xD7c1B80fA86965B48cCA3aDcCB08E1DAEa291980

WSTETH_ADDRESS_1=
# Example for hoodi
WSTETH_ADDRESS_560048=0x7E99eE3C66636DE415D2d7C880938F2f40f94De4
# Example for sepolia
WSTETH_ADDRESS_11155111=0xB82381A3fBD3FaFA77B3a7bE693342618240067b

ETHERSCAN_API_KEY=
