# env
.env
.env.local
.env.production

# test
/deployed.json

# dependencies
/node_modules
/.pnp
.pnp.js
.yalc
yalc.lock
yarn-error.log

# TS
tsconfig.tsbuildinfo

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat
/cache
/artifacts
/cache_hardhat

# Typechain output
/types
/typechain
/typechain-types

# foundry artifacts
/foundry/cache
/foundry/out

#ide
.vscode
.idea

# Extracted ABI files
/abi
/ignition/deployments/
